@import "../../.cache/wal/colors-waybar.css";
/*
* {
  font-family: "FiraCode Nerd Font", "JetBrainsMono Nerd Font Propo Regular";
  font-size: 97%;
  font-weight: bold;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar,
window#waybar.empty,
window#waybar.empty #window {
  background-color: transparent;
}

#waybar .module {
  margin: 0 4px;
}

tooltip {
  color: white;
  background: #1e1e2e;
  opacity: 0.8;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
}

tooltip label {
  color: #cdd6f4;
}

#battery.good {
  color: #1a9848;
}

#battery.warning {
  color: rgb(194, 194, 0);
}

#battery.critical {
  color: rgb(221, 0, 0);
}

#workspaces {
  background-color: @color0;
  border-radius: 10px 10px 10px 10px;
  padding-top: 2px;
  padding-bottom: 8px;
  padding-right: 8px;
  padding-bottom: 2px;
}

#workspaces button {
  color: @color3;
}

#workspaces button.active {
  color: black;
  background-color: @color6;
  border-radius: 10px 10px 10px 10px;
}

#workspaces button:hover {
  color: black;
  background-color: @color15;
  border-radius: 10px 10px 10px 10px;
}

#window {
  color: @color0;
  background-color: @color3;
  border-radius: 10px 10px 10px 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 8px;
  padding-left: 8px;
}

window#waybar.empty #window {
  color: @color0;
  background-color: @color3;
  border-radius: 10px 10px 10px 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 8px;
  padding-left: 8px;
}

#tray,
#battery {
  color: @color6;
  background-color: @color0;
  border-radius: 10px 10px 10px 10px;
  margin-right: 60px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 15px;
  padding-left: 15px;
}

#clock,
#custom-notification,
#custom-headset,
#pulseaudio,
#network,
#custom-weather,
#custom-media{
  color: @color13;
  background-color: @color0;
  border-radius: 10px 10px 10px 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 15px;
  padding-right: 10px;
}

#clock,
#custom-weather {
  padding-right: 15px;
}

#custom-headset,
#pulseaudio {
  padding-right: 17px;
}
#custom-weather {
    padding-top: 6px;
}
#network {
  padding-right: 20px;
}

#temperature.critical {
  color: darkred;
}

.modules-center {
  background-color: @color0;
  border-radius: 10px 10px 10px 10px;
  background-color: @color0;
}

#cpu,
#memory,
#disk,
#temperature {
  padding-top: 2px;
  color: @color6;
  padding-bottom: 2px;
  padding-right: 15px;
  padding-left: 15px;
}
*/

* {
  font-family:
    "Cascadia Code", "FiraCode Nerd Font",
    "JetBrainsMono Nerd Font Propo Regular";
  font-size: 98%;
  font-weight: bold;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar,
window#waybar.empty,
window#waybar.empty {
  color: @color6;
  background-color: alpha(@color0, 0.7);
}

#waybar .module {
  margin: 0 6px;
}

#custom-weather {
  padding-top: 6px;
}

#battery.good {
  color: #1a9848;
}

#battery.warning {
  color: rgb(194, 194, 0);
}

#battery.critical {
  color: rgb(221, 0, 0);
}

#workspaces button {
  color: @color3;
}

#workspaces button.active {
  color: black;
  background-color: @color6;
  border-radius: 10px 10px 10px 10px;
}

#workspaces button:hover {
  color: black;
  background-color: @color15;
}

#network {
  padding-right: 8px;
}
#custom-media {
  font-size: 98%;
  font-family:
    "Cascadia Code", "FiraCode Nerd Font",
    "JetBrainsMono Nerd Font Propo Regular";
}
